.bg {
    background-color: #2e1a1a;
}

.sidebar:hover {
    background-color: #444;
    color: #fff;
}

span {
    color: #ffcc00;

    border-bottom: 1px solid #555;
    margin-bottom: 10px;

    align-content: center !important;
}



.nav-link.active {
    background-color: #b9973f;
    color: #000;
}