.bg {
    background-color: #560E0E;
}

.sidebar:hover {
    background-color: #444;
    color: #fff;
}

h3 {
    color: #ffcc00;

    border-bottom: 1px solid #555;
    margin-bottom: 10px;

    text-align: center;
    text-shadow: 2px 2px #000;
}

.nav-link{
    font-size: 1.2rem;
    text-align: center;
}

.nav-link.active {
    background-color: #b9973f;
    color: #000;
}