.pointer{
    cursor: pointer;
}

img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.teste{
    text-align: start !important;
}

a{
    cursor: pointer;
    color: black;
}

.dropdown{
    max-width: fit-content;
    margin-left: auto !important;
    margin-right: auto !important;
}