/* You can add global styles to this file, and also import other style files */

body{
    height: 100vh;
    background-color: #0d0d0d;
}

.center-div {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: #f2e852;
}

.card{
    box-shadow: 10px 10px #d92323;
    border-radius: 0px !important;
}