/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Bebas Neue', sans-serif;
    height: 100vh;
    background-color: #1f1f1f;
}

.center-div {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.center-div-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    color: #ffcc00;
    text-shadow: 2px 2px #000;
}

h2 {
    letter-spacing: 1px;
    color: #ffcc00;
    text-shadow: 2px 2px #000;
}

.card {
    background: rgba(13, 13, 13, 0.5);
    border: 2px solid white;

    box-shadow: 10px 10px black;
}

.modal-content {
    background: rgba(13, 13, 13, 1);

    .modal-title {
        color: white !important;
    }

    .form-control {
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05)) !important;
        backdrop-filter: blur(10px) !important;
        -webkit-backdrop-filter: blur(10px) !important;
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !important;
        border-radius: 12px !important;

        color: white;
    }

    .form-floating label {
        color: white !important;
    }

}

th {
    background-color: transparent !important;
    color: #ffcc00 !important;

    border-bottom: none;

    font-size: 1.22rem;
}

tr {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.05));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 12px;

    font-size: 1.2rem;
    text-shadow: 2px 2px #000;
}

td {
    background: transparent !important;
    border: none !important;
    color: white !important;
    padding: 16px;
}

td:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

table {
    border-spacing: 0 5px;
    border-collapse: separate;
}

button {
    color: white !important;
}

button:active {
    background-color: #252525;
    box-shadow: 0 5px #666666;
    transform: translateY(-4px);
}